.inputFlex{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.input{
    background: var(--primary_less_white);
    border: 2px solid var(--primary_border);
    padding: 12px 20px 10px 40px;
    border-radius: 5px;
    transition: all 0.3s;
    width: 100%;
    outline: none;
}


.icon_start{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--primary_gray);

}

.icon_end{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: var(--primary_blue);
}