.model{
    background: rgba(231, 231, 231, 0.90);
    height: calc(100vh - 70px);
    /*height: 100%;*/
    width: 100%;
    position: absolute;
    top: 20px;
    padding: -20px;
    margin-left: -20px;
    margin-top: -20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(1px);
}

.close{
    display: flex;
    width: 80%;
    max-width: 1100px;
    justify-content: flex-end;
    transform: translate(-10px, 20%);
    z-index: 2;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 50px 40px;
    max-width: 1100px;
    width: 80%;
    background: var(--white);
    border-radius: 10px;
    position: relative;
    transform: translateY(-50px);
    gap: 20px;
}