.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 50px 40px;
    max-width: 1100px;
    width: 80%;
    background: var(--white);
    border-radius: 10px;
    position: relative;
    transform: translateY(-50px);
    gap: 20px;
}

.svg_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--primary_icon);
    fill: var(--primary_icon);
}

.small_icon_prev{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary_dark);
    width: 50px;
    height: 50px;
}

.icon svg{
    width: 50%;
    height: 50%;
}

.icon:hover{
    border: 2px solid var(--primary_blue);
    background: var(--primary_less_white);
}


.tag{
    font-size: 12px;
    background: var(--primary_ercu_white);
    padding: 2px 10px;
    border-radius: 5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag_cont{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 80%;
    max-height: 100px;
    overflow: hidden;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.codes{
    background: var(--primary_ercu_white);
    overflow: hidden;
    border-radius: 5px;
    height: 100px;
}

.downloads{
    display: flex;
    gap: 20px;
    width: 100%;
}

.downloads button{
    width: 100%;
}

.iconPrev{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 240px;
    padding: 20px 50px;
}

.isActive{
    border: 2px solid var(--primary_blue);
    background: var(--primary_less_white);
}