.section{

}

.sec_pad{
    padding: 80px 40px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sec_pad h2 {
    text-align: center;
}

.sec_pad h2+h5{
    text-align: center;
}

.listGrid{
    display: flex;
    background: var(--primary_ercu_white);
    padding: 10px 20px;
    gap: 20px;
    margin-top: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px){

}

.listGrid button{
    border: 1px solid var(--black);
    padding: 5px 15px;
    border-radius: 2px;
}

.listGrid button:hover{
    background: var(--black);
    color: var(--white);
}


.docs_container{
    background: var(--primary_ercu_white);
    width: 100%;
    padding: 50px;
    gap: 100px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 1000px){
    .docs_container{
        gap: 30px;
    }
}

@media screen and (max-width: 700px){
    .docs_container{
        grid-template-columns: 1fr;
    }
}



.docs{

}

.docs strong{
    padding-right: 10px;
}

.docs code{
    background: var(--white);
    padding: 5px 20px;
    cursor: copy;
    margin: 10px 0;
    display: block;
}

.head{

}