.section{
    background: var(--primary_less_white);
    padding-bottom: 50px;
}

.sec_pad{
    padding: 80px 40px;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sec_pad h2 {
    text-align: center;
}

.sec_pad h2+h5{
    text-align: center;
}

.feature_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 20px 0;
}

.listGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 50px;
    padding-top: 50px;
}

@media screen and (max-width: 1250px){

    .listGrid{
        grid-template-columns: 1fr 1fr;
    }
}

.platform_box{
    height: 150px;
    background: red;
    border-radius: 10px;
    background: var(--gradient_two);
    display: flex;
    overflow: auto;
    transition: all 0.3s;
}

@media screen and (max-width: 900px){
    .platform_box{
        height: 120px;
    }

    .info h4{
        font-size: 18px;
    }
    .info span{
        font-size: 13px;
    }

}

@media screen and (max-width: 800px){
    .listGrid{
        grid-template-columns: 1fr;
        gap: 10px;

    }
}


@media screen and (max-width: 600px){

    .platform_box .icon{
        width: 80px;
    }

    .listGrid .platform_box{
        height: 140px;
    }

}

.platform_box:hover{
    background: var(--gradient_hero);
    cursor: pointer;
    transform: scale(102%);
    box-shadow: var(--shadow);

}
.platform_box:hover .icon{

}

.icon{
    width: 120px;
    min-width: 100px;
    background: var(--white);
    display: flex;
    align-items: center;
    font-size: 30px;
    color: var(--white);
    justify-content: center;
    flex-shrink: 0;
}

.icon svg{
    color: var(--black);
}

.info{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    justify-content: center;
    gap: 10px;

}

.info h4{
    font-weight: 600;
}