.icons_page{

}

.sidebar{

}


.children{
    background: var(--white);
    min-height: calc(100vh - 70px);
    margin-left: 320px;
    padding: 20px;
    position: relative;
}

@media screen and (max-width: 700px){
    .children{
        margin-left: 0;
    }
}