.icon_list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(60px,1fr));
    grid-auto-rows: 60px;
}

.icon{
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary_icon);
    fill: var(--primary_icon);
}
.showSearch, .showSearch > * {
    display: none;
}

@media screen and (max-width: 700px){
    .showSearch, .showSearch > *{
        display: block;
        margin-bottom: 10px;
    }
}


.icon svg{
    height: var(--primary_size);
}

.icon:hover{
    border: 2px solid var(--primary_blue);
    background: var(--primary_less_white);
}